body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-size: 25px;
    border: black solid;
    color: blue;
}

section {
    font-size: 30px;
    text-align: center;
    margin-top: 3%;
}

#Temps {
    font-size: 40px;
}

#PartieQuestion {
    border: solid black;
    margin-top: 3%;
}

#Question {
    text-align: center;
    font-size: 80px;
    color: red;
}

#PartieReponse {
    border: black solid;
    margin-top: 2%;
    color: blue;
}

#DeuxPreReponse {
    display: inline-block;
    margin-right: 50%;
}

#Prop2, #Prop4 {
    margin-top: 50%;

}

#DeuxDerReponse {
    display: inline-block;
}
